#hide{
    display: none;
}
#hideZ{
    display: none;
}
#hideH{
    display: none;
}
#hideD{
    display: none
}
#navigation{
    display: none;
}
#kebab{
    display: none;
}
#zapiekanka{
    display: none;
}
#hamburger{
    display: none;
}
#dodatki{
    display: none;
}