*{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

.container{
    text-align: center;
    margin: 10px 10%;
}

#main-site header{
    background: #212121;
    width: 100%;
    padding: 70px 0;
    margin-bottom: 50px;
}

#main-site header h1{
    font-size: 5em;
    color: white;
}


/*Przyciski*/
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#buttons button{
    border: none;
    color: white;
    padding: 20px 32px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    align-self: center;
}

#button1{
    background-color: #01579B;
}
#button2{
    background-color: #8BC34A;
}
#button3{
    background-color: #00BCD4;
}
#button4{
    background-color: #263238;
} 

/*Przycisk cofania*/
#navigation{
    position: fixed;
    background-color: #B71C1C;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
}
/*Koniec stylowania przycisków*/


/*Zegarek z datą*/
#clock{
    position: fixed;
    bottom:0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size:1.5em;
    text-align: right;
    z-index: 90;
    background: rgba(255,255,255,0.9)
}

/*Dostosowanie pod różne ekrany*/
@media screen and (max-width: 800px) {
    #buttons button{
        margin: 10px;
        font-size: 2em;
    }

    #main-site header{
        padding: 30px 0;
        margin-bottom: 30px;
    }

    #main-site header h1{
        font-size: 3.5em;
    }
}





/*


Lista zamówień


*/
#list-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

#list-items figure{
    align-self: center;
    margin: 10px;
    cursor: pointer;
}

#list-items figcaption{
    font-size: 1.5em;
}

#list-items img{
    max-width: 450px;
    border: 2px solid #ddd;
}

.orders-confirm-btn{
    margin-top:50px;
    border: none;
    color: white;
    background: #E53935;
    padding: 20px 32px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    align-self: center;
}

.order-product-type{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.order-product-type button{
    border: none;
    color: white;
    padding: 20px 32px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    align-self: center;
    background: #263238;
}

.ingredients-sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    font-size: 2em;
}

.ingredients-section{
    margin: 30px;
}

.ingredients-choice{
    text-align: left;
}

[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after{
    content: '';
    width: 12px;
    height: 12px;
    background: #F44336;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before{
    border-radius: 10%;
}

[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after{
    opacity: 1;
    transform: scale(1);
}

[type="text"]{
    padding: 50px 100px;
    font-size: 2em;
}

.ingredients-section{
    padding: 20px;
    border: 1px #9E9E9E solid;
}

.ingredients-section label{
    margin: 20px 0;
}

#rodzaj{
    font-size: 2.5em;
    padding: 15px 0;
    width: 20%;
    margin: auto;
    background: #4CAF50;
    color: #fff;
}

#rodzaj::before{
    content: "Wybrano: ";
}

@media screen and (max-width: 800px) {
    #rodzaj{
        width: 90%;
    }
}